<h1>تحسينات</h1>

<h3>المطلوب </h3>
<ul>
 <li>تمكين المستخدم من اقتراح أفعال جديدة.</li>
  <li>تحسين واجهة المستخدم.</li>
  <li>نشر الخوارزمية وشرحها</li>
</ul>
<h3>المنجز</h3>
<ul>
<li> نشر قائمة الأفعال الثلاثية المستخدمة.</li>
<li> تقديم اقتراحات للمستخدم لتصريف الأفعال الثلاثية.</li>
<li> تتبع مدخلات المستخدمين .</li>
<li>التحقق من الأفعال الثلاثية من خلال قاعدة بيانات، تضم معلومات عن الفعل ( حركة عين مضارعه، اللزوم والتعدي).</li>
 <li>نقل البرنامج إلى استضافة عيون العرب
 <a href="http://qutrub.arabeyes.org"> الموقع الجديد</a>
بسبب منع غووغل تطبيقاته عن سوريا.</li>
  <li>تبسيط خوارزمية تصريف الأفعال</li>
  <li>نشر البرنامج للاستخدام والتجربة على الإنترنت.<br>
  </li>
</ul>
