<h1>للاتصال بنا</h1>

<h3>القائمة البريدية&nbsp;</h3>
al-mussaref@googlegroups.com <br>
<a
 href="http://groups.google.dz/group/al-mussaref?lnk=srg&amp;hl=ar&amp;ie=UTF-8">http://groups.google.dz/group/al-mussaref?lnk=srg&amp;hl=ar&amp;ie=UTF-8
</a><br>
<h3>المطورون</h3>
<ul>
  <li>برمجة الخوارزمية : طه زروقي Taha
Zerrouki taha  (taha.zerrouki at gmail dot com)</li>
  <li>برمجة الويب :مصطفى عمارة Mustafa Amara (<a href='http://moustafaemara.wordpress.com/'>http://moustafaemara.wordpress.com/</a>) </li>
</ul>
<h3>تصميم</h3>
<ul>
  <li>تصميم الشعار : عصام حمود Aissam Hammoud 
(<a href="http://hamoudart.com/">http://hamoudart.com/</a>)</li>
  
</ul>
<h3>الدعم :</h3>
<ol>
  <li><a href="http://www.arabtechies.net">ArabTechies</a></li>
</ol>
