<h1>تحميل</h1>

<h3>موارد</h3>
<ul>
  <li><a href="data/ar_verb_normalized.dict">قائمة الأفعال الثلاثية.</a></li>
</ul>

<h3>التحميل</h3>
<a href="http://sourceforge.net/projects/qutrub/files/qutrub_beta.zip/download">قطرب على وندوز qutrub for windows</a><br>
<a href="http://sourceforge.net/projects/arabeyes/files/Qutrub/qutrub-0.5.tar.gz/download">Qutrub 0.5 source</a><br>
<a href="http://svn.arabeyes.org/viewvc/projects/qutrub/trunk.tar.gz?view=tar">Qutrub 0.6 على svn</a><br>

