<h1>خطأ في كتابة الفعل</h1>
 <%=word%>
 <hr/>
 <%=suggestion%>
 
<H3>الأخطاء المحتملة</h3>
<ul>
<li>قد تحتوي الكلمة على حرف غير عربي</li>
<li>قد يكون  عدد الحروف أقل من ثلاثة أحرف  أو أكثر من سبعة.</li>
<li>قد تحتوي على حرف غير مناسب : تنوين، أو تاء مربوطة، أو همزة تحت الألف.</li>
<li>قد تحتوي على حرف في غير موضعه: حركة في البداية، أو  ’ؤ’، ’ئ’ في أول الكلمة،أو ’ى’ ليست في الأخير.</li>
<li>يرجى التأكد.</li>
</ul>
