<h2>توثيق</h2>
<ul>
<li><a href="#idea">فكرة</a></li>
<li><a href="#help">مساعدة</a></li>
<li><a href="#changlog">تحسينات</a></li>

<a name="idea"><h1>فكرة</h1></a>

<p>
يقوم البرنامج
بتصريف الأفعال المدخلة مع بعض المعلومات
الضرورية لتوليد جميع أشكال التصريف في الأزمنة المختلفة.<br>
هدف البرنامج هو تمكين تصريف الأفعال العربية تصريفا آليا مبسطا.<br>
هذا البرنامج
جزء من مشروع المدقق الإملائي العربي ويهدف إلى
دراسة سلوك الأفعال عربية من أجل توفير ميزة التعرف على الأفعال المتصرفة
والكشف عن أصلها، ومن ثم تدقيقها إملائيا، أو البحث عنها.<br>
تم برمجة التطبيق بلغة بايثون، لأنها لغة بسيطة، تمكننا من تجربة البرنامج
والخوارزميات دون الحاجة إلى الغوص في متاهات تمثيل البيانات.<br>
كما أن نسقها ولغتها البسيطة تمكننا من تحويل الخوارزميات في المستقبل إلى
لغات برمجة أخرى. وللعلم فإنّ هذا البرنامج سيتم توفيره على شكل برنامج حر
مفتوح المصدر للاستفادة منه في العديد من التطبيقات المفيدة.<br>
</p>

<h3>الأعمال المحققة</h3>
وقد حققنا في  برنامجنا المذكور:
<ul>
  <li> تصريف الفعل في الماضي المعلوم و المجهول والمضارع المعلوم والمجهول والأمر.</li>
  <li> تصريف الفعل في المضارع المؤكد والأمر المؤكد، والمضارع المنصوب والمجزوم.</li>
  <li>معالجة الألفات و الهمزات والإدغام ووظائف الإعلال.</li>
  <li>تم معالجة تصريف الأفعال التي على غرار فاعل في الماضي المبني للمجهول فوعل.</li>
  <li>تم معالجة إدغام التاء و النون في الأفعال المنتهية بهما مثل سكت، سكن، مع اللواحق سكتُّ، سكنّا، وذلك في الإطار العام للإدغام.</li>
  <li>تم معالجة الفعل المضعف بتحويله إلى فعل مفكك، ينصرف مثل الفعل الصحيح،ومن ثمّ يدغم ما يمكن إدغامه.</li>
  <li>معالجة الأفعال المعتلة.</li>
  <li>تبسيط وظائف التصريف في كل زمن.</li>
  <li>نتائج مطابقة لدليل تصريف الأفعال (في مشروع أيسبل).</li>
  <li>انتظام تصريف الأفعال المهموزة والمعتلة بنفس الطريقة.</li>
</ul>

<h3>تقييم أداء البرنامج:</h3>
ومن أجل تقييم أداء البرنامج وضبط الحالات الممكنة وضعناالخطة الآتية:
<ol>
  <li>وضع مخطط للأفعال النموذجية حسب نموذج القاعدة الصرفية</li>
  <li>تصريف الأفعال النموذجية تصريفا مبدئيا مصححا من قبل الإنسان</li>
  <li>وضع التصريف المصحح من قبل الإنسان كمرجع</li>
  <li>تحسين أداء البرنامج بالمقارنة بين النتائج المحصلة مع المرجع.</li>
</ol>

<h3>طموح&nbsp;</h3>
<p>ونطمح في
المستقبل إلى تحسين أداء البرنامج، وتدقيق النتائج
تدقيقا معمقا،
وكذلك برمجة المزيد من الوظائف الجديدة كالإلحاق بالضمائر المتصلة في محل
نصب مفعول به. وأهم هدف هو البحث عن طريقة عكسية لتفكيك تصريف الفعل و
استخراج أصله من تصريفه أي التدقيق الإملائي.<br>
وحسب برنامجنا أن يضع لبنة قوية مفتوحة المصدر في إطار دعم المعالجة
الآلية للغة العربية.
</p>

<a name="help"><h1>مساعدة</h1></a>

<h3> طريقة الاستعمال</h3>
<ol>
  <li>اكتب الفعل مشكولا شكلا تاما
(الحركات والشدة ) في خانة الفعل مثال
:
كَتَبَ، كَاتَبَ. </li>
  <li>ملاحظة إذا كان الفعل مهموز
الأول على وزن فاعل،مثل آخى يرجى كتابته على الشكل ءَاخَى. </li>
  <li>إذا كان الفعل ثلاثيا حدد
حركة عين الفعل في المضارع، مثلا كتب يكتُب تأخذ الحركة ضمة في المضارع.
إذا كان الفعل غير ثلاثي، تجاهل هذه الميزة. </li>
  <li>حدد اللزوم والتعدي للفعل، </li>
  <li>اختر الزمن الذي تريد
التصريف فيه </li>
  <li>اضغط على "صرّف الفعل".</li>
</ol>
<h3>الأخطاء المحتملة</h3>
<ul>
  <li>قد تحتوي الكلمة على حرف غير
عربي</li>
  <li>قد يكون عدد الحروف أقل من
ثلاثة أحرف أو أكثر من سبعة. </li>
  <li>قد تحتوي على حرف غير مناسب :
تنوين، أو تاء مربوطة، أو همزة تحت
الألف. </li>
  <li>قد تحتوي على حرف في غير
موضعه: حركة في البداية، أو
&rsquo;ؤ&rsquo;، &rsquo;ئ&rsquo; في أول الكلمة،أو
&rsquo;ى&rsquo; ليست
في الأخير. </li>
  <li>يرجى التأكد. </li>
</ul>
<a name="changlog"><h1>تحسينات</h1></a>

<h3>المطلوب </h3>
<ul>
 <li>تمكين المستخدم من اقتراح أفعال جديدة.</li>
  <li>تحسين واجهة المستخدم.</li>
  <li>نشر الخوارزمية وشرحها</li>
</ul>
<h3>المنجز</h3>
<ul>
<li> نشر قائمة الأفعال الثلاثية المستخدمة.</li>
<li> تقديم اقتراحات للمستخدم لتصريف الأفعال الثلاثية.</li>
<li> تتبع مدخلات المستخدمين .</li>
<li>التحقق من الأفعال الثلاثية من خلال قاعدة بيانات، تضم معلومات عن الفعل ( حركة عين مضارعه، اللزوم والتعدي).</li>
 <li>نقل البرنامج إلى استضافة عيون العرب
 <a href="http://qutrub.arabeyes.org"> الموقع الجديد</a>
بسبب منع غووغل تطبيقاته عن سوريا.</li>
  <li>تبسيط خوارزمية تصريف الأفعال</li>
  <li>نشر البرنامج للاستخدام والتجربة على الإنترنت.<br>
  </li>
</ul>
