<h1>روابط</h1>

<h3>موارد</h3>
<ul>
  <li><a href="data/ar_verb_normalized.dict">قائمة الأفعال الثلاثية.</a></li>
</ul>

<h3>القائمة البريدية</h3>
<a href="http://groups.google.dz/group/al-mussaref?lnk=srg&amp;hl=ar&amp;ie=UTF-8">al-mussaref@googlegroups.com</a><br>


<h3>مواقع المشروع</h3>
<a href="http://www.arabeyes.org/project.php?proj=%3Cb%3EQutrub%3C/b%3E">موقع المشروع على عيون العرب</a><br>
<a href="http://arabtechies.sourceforge.net/project/qutrub">مهاويس التقنية العرب</a><br>

<h3>التحميل</h3>
<a href="http://sourceforge.net/projects/arabeyes/files/Qutrub/qutrub-0.5.tar.gz/download">Qutrub 0.5</a><br>
<a href="http://svn.arabeyes.org/viewvc/projects/qutrub/trunk.tar.gz?view=tar">Qutrub 0.6 على svn</a><br>
<a href="http://sourceforge.net/projects/qutrub/files/qutrub_beta.zip/download">قطرب على وندوز qutrub for windows</a><br>
<h3>مشاريع تصريف الأفعال</h3>
<ul>
  <li>برنامج نظام صرف : <a href="http://sarf.sourceforge.net">http://sarf.sourceforge.net</a></li>
  <li><span dir="ltr">ACON, the Arabic Conjugator <a href="http://acon.baykal.be/">http://acon.baykal.be/:</a></span></li>
  <li>أزكري الحسين، برنامج تصريف الأفعال،<a href="http://azahou45.free.fr/tasrif/">http://azahou45.free.fr/tasrif/</a></li>
  <li>موقع الكلمة لتصريف الفعل العربي <a href="http://www.kalimet.net/Kalimet.asp">http://www.kalimet.net/Kalimet.asp</a></li>
  <li>برنامج المصرف <a href="http://obtsite.co.uk">http://obtsite.co.uk</a></li>
</ul>

<h3>مشاريع مماثلة</h3>
<ul>
  <li><a href="http://ayaspell.sf.net">المدقق الإملائي العربي الحر</a></li>
</ul>
