<%
"""
   Main menu. 

   expects:
       hlight  - name of page to be high-lighted 
"""
%>
        <span class="menu">
	  <table border="0">
	  <tr>
<%

# This is a list of tuple representing the menu contents.
# Each tuple is:
#   name - the name of the menu item/page
#   text - the text to be shown in the menu
#   url  - the URL


menu_items = [
              ("home", "الرئيسية", "home"),
              ("help", "مساعدة", "help"),
              ("idea", "فكرة", "idea"),
              ("changlog", "تحسينات", "changlog"),
              ("contact", "اتصل بنا", "contact"),
              ("link", "روابط", "link"),
              ("qutrub", "من هو قطرب؟1", "qutrub"),  
#              ("about", "About", "about")
			  ]

for name, text, url in menu_items:
    attr = ""
    if name == hlight:
        attr = "class='highlight'"
    # begin
%>
            <td <%=attr%>><a href="<%=url%>"><%=text%></a></td>
<%
# end
%>
	  </tr>
	  </table>
        </span>
