<h1>من هو قُطْرُب؟</h1>

<h2>قطرب</h2>

<h3>من ويكيبيديا، الموسوعة الحرة</h3>

<p>
<b><a href="http://ar.wikipedia.org/wiki/قطرب" title="قطرب">قطرب</a></b> 
هو أبو علي محمد بن المستنيربن أحمد البصري، أحد من اختلف إلى <a href="http://ar.wikipedia.org/wiki/سيبويه" title="سيبويه">سيبويه</a> وتعلم منه، وكان يدلج إليه، وإذا خرج رآه على
بابه غدوة وعشية، فقال له: ماأنت إلا قطرب ليل! فلقب به. واشتهر بمثلثات قطرب. وأول من ألف رسالة في أبنية الأفعال.
</p>
<p>
توفي قطرب ببغداد</a> سنة 206 هـ
</p>

<h2>ما معنى قُطْرُب</h2>
<p>
قال <a  href="http://ar.wikipedia.org/wiki/ابن_دريد"  title="ابن دريد">ابن دريد</a>:
</p>
<blockquote>
  <p>
قطرب وقطروب ذكر الغيلان. قال: ولغة أزدية يسمون الكلاب الصغار
القطارب. وقال ثعلب: القطرب دويبة كثيرة الحركة وهو الصرار. قال: يروى عن
النبي صلى الله عليه وسلم: إن أحدكم جيفة ليل قطرب نهار! أي لايقوم بالليل
لخير ولاصلاة ويتحرك بالنهار كهذه الدويبة.
</p>
</blockquote>
<p>
هذا وقد غلب هذا الاسم عليه واشتهر به، وكان من كبار أئمة اللغة في
عصره.
</p>

<h2>مثلثات قطرب</h2>
<p>
وهو أول من وضع المثلث في اللغة العربية، وتبعه غيره كالبطليوسي والخطيب والبلنسي. واشتغل معلمًا لأولاد الأمير أبي دلف العجلي وممن شرح <a  href="http://ar.wikipedia.org/wiki/مثلثات قطرب  title="مثلثات قطرب">مثلثات قطرب</a> ضياء الدين أبو العز المغيث بن علوي البغدادي اللغوي الحنبلي المتوفى سنة 583 هـ.
</p>

<h2>مؤلفاته</h2>
<ol>
  <li>معاني القرآن الكريم</li>
  <li>كتاب النوادر</li>
  <li>كتاب الأزمنة</li>
  <li>كتاب الأضداد</li>
  <li>خلق الإنسان</li>
  <li>غريب الحديث</li>
  <li>كتاب العلل في النحو</li>
  <li>كتاب الاشتقاق</li>
  <li>كتاب القوافي</li>
  <li>كتاب الأصول</li>
  <li>كتاب الصفات</li>
  <li>خلق الفرس</li>
  <li>الرد على الملحدين</li>
  <li>كتاب الأصوات</li>
  <li>كتاب الفرق</li>
</ol>
<p>وغيرها</p>

