
body { 	
	direction: rtl;
	font-family: Traditional Arabic, "Times New Roman";
	font-size: 16pt;
	padding: 1cm;
	padding-top: 0.25cm;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	color: rgb(255, 255, 255);
	background-color: rgb(204, 0, 0);
	width: 839px;
	height: 1.5em;
	text-align: right;
	margin-left: auto;
	margin-right: 0px;
}

p {
	text-align: right;
	margin-top: 0;
	margin-right: 5%;
}

table {
	width: 100%;
	margin: 0;
}



td {
	vertical-align: top;
}

th {
	text-align: right; 
	white-space: nowrap;
}

td.highlight { 
	background: #FFFFFF;
}

form {
	margin: 0;
}

ul, ol {
	margin-right: 0;
}
ul li {
	list-style: circle;
}

a:link, a:visited {
	text-decoration: none;
}

#result {
	font-size:16pt;
}
.result {
	font-size:16pt;
}
div#footer {
	text-align: center;
	font-size: 0.75em;
}

hr#footer {
	width: 100%;
	height: 2px;
}

img#logo {
	border: 0px solid;
}
span.tashkeel{
	color:red;
}

#MoreOptions
{
display:none;
}
#showhelp
{
display:none;
}
#Resultpassive
{
display:none;
background-color:#EFE5D5;
}
#tenses
{
display:none;
}
#Bindicative
{
background-color:#ffffff;
}
#Bpassive
{
background-color:#EFE5D5;
}


/* 
Special for ajusting font on display result tasrif
*/
#holder1, #holder2{ 
		background-color:#ccc;
		border:1px solid #111;
		width:100px;
		height:32px;
	}


.smallFont {
	outline: none; /*for making it look nice in FF */
	background: url(images/font-down.png);
	text-indent: -9999px;
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

.defaultFont {
	/*if you want to hide the default font button, use display:none */
	background: url(images/font-default.png);
	text-indent: -9999px;
	outline: none;
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

.largeFont {
	background: url(images/font-up.png);
	outline: none;
	text-indent: -9999px;
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

.ldisabled,.sdisabled { /*Styles for disabled buttons*/
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	/*This is for IE8 */
	filter: alpha(opacity = 30);
}